VITE_APP_NAME=DZENcode
VITE_APP_URL=http://127.0.0.1:8880
VITE_API_URL=http://127.0.0.1:8880/api

VITE_REVERB_APP_KEY=uiqfipqz0pyqqsrntnif
VITE_REVERB_HOST=127.0.0.1
VITE_REVERB_PORT=6001
VITE_REVERB_SCHEME=http

VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
